@font-face {
  font-family: 'Elzevir';
  src: url('../fonts/Elzevir.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Elzevir.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Elzevir.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Elzevir.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Elzevir.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Elzevir.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}